<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand h1" href="#">CodeRage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-warning m-2">Login</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-warning m-2">Signup</button>
      </li>
    </ul>
  </nav>
  </nav>
  {{{body}}}
</body>

</html>